@import '../../../assets/sass/variables.scss';
@import '../../../assets/sass/spectre.css/mixins';

.margin-left {
  margin-left: .4rem;
}

.margin-right {
  margin-right: .4rem;
}

.margin-both {
  margin: 0 .4rem;
}

.secondary {
  color: #8A8A8A
}
