@charset "utf-8";


@import './icons.scss';
@import './variables.scss';
@import './spectre.css/mixins';

@import './spectre.css/normalize';
@import './spectre.css/base';
@import './spectre.css/typography';
@import './spectre.css/animations';
@import './spectre.css/utilities';

.preload * {
  $none: none !important;
  transition: $none;
  -webkit-transition: $none;
  -moz-transition: $none;
  -ms-transition: $none;
  -o-transition: $none;
}
